.ThumbnailContainer{
  display: inline-block;
  width: 50%;
  height: 12rem;
}

.Thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: relative
}

.ThumbnailImage{
  width: 100%;
  height: 100%;
}

.Heading{
  font-family: "Muli ExtraBold";
  font-size: 16px;
}